{% load i18n %} 
{% load dokumentMenu %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Startseite{% endblock %} - FileManager</title>

    




<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link href="/static/css/jquery.tagit.css" rel="stylesheet" type="text/css">





<link rel="stylesheet" href="/static/main.css">




    
<script src="http://use.typekit.net/ajf8ggy.js"></script>
<script>
    try { Typekit.load(); } catch (e) {}
</script>


    
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-41480445-1', 'purecss.io');
ga('send', 'pageview');
</script>


</head>
<body>



<div class="pure-g-r content" id="layout">
    <div class="pure-u" id="nav">
        <a href="#nav" class="nav-menu-button">Menu</a>
        {% block menu %}
        <div class="nav-inner">
            <a class="pure-button primary-button" href="/documents/new">Hochladen</a>

            <div class="pure-menu pure-menu-open">
                <ul>
                    <li class="pure-menu-heading">{% trans "Overview" %}</li>
                    <!--<li><a href="#">{% trans "Home" %}</a></li>!-->
                    <li><a href="/documents">{% trans "Overview" %}</a></li>
                    <li><a href="/documents/search">{% trans "Search" %}</a></li>
                    <li class="pure-menu-heading">{% trans "Status" %}</li>
                    <!--<li><a href="/documents/status?status=Raw">{% trans "Raw" %}</a></li>
                    <li><a href="/documents/status?status=Open">{% trans "Open" %}</a></li>
                    <li><a href="/documents/status?status=Close">{% trans "Closed" %}</a></li>!-->
                     {% autoescape off %}
                    {{ "status"|createMenu}}
                    {% endautoescape %}
                    
                    <li class="pure-menu-heading">Tags</li>
                    {% autoescape off %}
                    {{ "tag"|createMenu}}
                    {% endautoescape %}
                    <br><br>
                    <center><script id='flattrbtn' defer>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=kruemel&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('flattrbtn');</script></center>

                </ul>
            </div>
        </div>
        {% endblock %}
    </div>

    
    <div class="pure-u" id="main">
        <div class="content">
            <div class="email-content pure-g">
                
                <div class="email-content-header pure-g">
                    <div class="pure-u-1-2">
                        <h1 class="email-content-title">{% block pagetitel %}Hallo{% endblock %}</h1>
                        <!--<p class="email-content-subtitle">
                            From <a>Tilo Mitra</a> at <span>3:56pm, April 3, 2012</span>
                        </p>!-->
                    </div>

                    <div class="pure-u-1-2 email-content-controls">
                        {% block detaiMenu %}
                        <a class="pure-button secondary-button">Reply</a>
                        <a class="pure-button secondary-button">Forward</a>
                        <a class="pure-button secondary-button">Move to</a>
                        {% endblock %}
                    </div>
                </div>

                <div class="email-content-body pure-u-1">
                    
                    {% block content %}
                            <i>Kein Content</i>
                    {% endblock %}

                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://yui.yahooapis.com/3.10.1/build/yui/yui-min.js"></script>
<script>
    YUI().use('node-base', 'node-event-delegate', function (Y) {

        var menuButton = Y.one('.nav-menu-button'),
            nav        = Y.one('#nav');

        // Setting the active class name expands the menu vertically on small screens.
        menuButton.on('click', function (e) {
            nav.toggleClass('active');
        });

        // Your application code goes here...

    });
</script>

<script>
YUI().use('node-base', 'node-event-delegate', function (Y) {

    // This just makes sure that the href="#" attached to the <a> elements
    // don't scroll you back up the page.
    Y.one('.content').delegate('click', function (e) {
        e.preventDefault();
    }, 'a[href="#"]');
});
</script>



</body>
</html>
