{% extends "base.html" %}

{% block title %}FileManager{% endblock %}
{% block pagetitel %}Wilkommen{% endblock %}
{% block detaiMenu %}{% endblock %}

{% block menu %}
<div class="nav-inner">
	<a class="pure-button primary-button" href="/accounts/login">Login</a>
            <div class="pure-menu pure-menu-open">

                <ul>

                    <li class="pure-menu-heading">Übersicht</li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/accounts/register">Regestrieren</a></li>
                    <li class="pure-menu-heading">Projekt</li>
                    <li><a href="/functions">Funktionen</a></li>
                    <li><a href="/">Installation</a></li>
                </ul>
            <br><br><center><script id='flattrbtn' defer>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=kruemel&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('flattrbtn');</script></center>
            </div>
        </div>

{% endblock %}

{% block content %}

{% endblock %}
