{% extends "home.html" %}

{% block title %}Login{% endblock %}

{% block content %}

                   <form action="/accounts/login?next={{next}}" class="pure-form pure-form-stacked" method="POST" >
    <fieldset>
        <legend>Login</legend>

        <label for="email">Nutzername</label>
        <input  name="user" placeholder="Nutzername">

        <label for="password">Passwort</label>
        <input id="password" name="pass" type="password" placeholder="Passwort">
        <br><br>
        <button type="submit" class="pure-button notice">Login</button>
    </fieldset>
</form>

{% endblock %}
