{% extends "base.html" %}

{% block title %}Details{% endblock %}
{% block pagetitel %}Details {{dokumente}}{% endblock %}
{% block detaiMenu %}{% endblock %}
{% block content %}
<h3>Details</h3>
<div style="float:right;width:45%;">
	<img src="{{dokumente.imgURL}}">
</div>
<div style="float:left;width:45%">
<table class="pure-table pure-table-bordered" style="width:100%;">
    <thead>
        <tr>
            <th>Wert</th>
            <th>Value</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Name</td>
            <td>{{dokumente}}</td>
        </tr>

        <tr>
            <td>Upload Datum</td>
            <td>{{dokumente.create_date}}</td>
        </tr>

        <tr>
            <td>Status</td>
            <td id="status">{{dokumente.status}} <a href="#" onclick="changeStatus()">[Change]</a></td>
        </tr>

        <tr>
            <td>Aktionen</td>
            <td><a href="/documents/download?documentID={{dokumente.id}}" class="pure-button">Download</a> <a class="pure-button">Löschen</a></td>
        </tr>
    </tbody>
</table>
<script>
function changeStatus()
{
    $("#status").html("<select id='selectStatus' onchange='changeStatusTyp()'>{% for status in statuse %}<option value='{{status.id}}' {% if status == dokumente.status %}selected{% endif %}>{{status}}</option>{%endfor%}</select>")
}
function changeStatusTyp()
{
    $.ajax({
                    url: "/documents/status/change?statusID="+$("#selectStatus").val()+"&documentID={{dokumente.id}}",
                    context: document.body
                    }).done(function(returnHTML) {
                    $("#status").html(returnHTML+' <a href="#" onclick="changeStatus()">[Change]</a>');
                    });
                    //console.log("Change: ",ui.tag);
    
}
</script>
<h3>Tags</h3>
Hier kannst du dem Dokument Tags zuordnen, damit kannst du die Dokumente einfacher wiederfinden.
<script type="text/javascript">
    $(document).ready(function() {
        $("#myTags").tagit({
            availableTags: [{% for tag in alltags %}"{{tag}}",{% endfor %} "document"],
            beforeTagRemoved: function(event, ui) 
            {
                if(typeof ui.tag[0].outerText!="undefined")
                {
                    $.ajax({
                    url: "/documents/tag/del?tag="+ui.tag[0].outerText.replace("%C3%97", "")+"&documentID={{dokumente.id}}",
                    context: document.body
                    }).done(function() {
                    $(this).addClass("done");
                    });
                    console.log("DEL: ",ui.tag);
                }
                else
                {
                    if(typeof $(ui.tag[0])[0]["textContent"] != "undefined")
                    {
                        $.ajax({
                            url: "/documents/tag/del?tag="+$(ui.tag[0])[0]["textContent"].replace("%C3%97", "")+"&documentID={{dokumente.id}}",
                            context: document.body
                            }).done(function() {
                        $(this).addClass("done");
                        });
                        console.log("Remove: ",$(ui.tag[0])[0]["textContent"]);
                    }
                    else
                    {
                        console.log("UNDEFINED");
                    }
                }
            }
        });
        {% for tag in tags %}
        $("#myTags").tagit("createTag", "{{tag}}");
        console.log("Add Tag {{tag}}");
        {% endfor %}
        $("#myTags").tagit(
        {
            afterTagAdded: function(event, ui) {
                console.log(ui.tag[0])
                if(typeof ui.tag[0].outerText!="undefined")
                {
                    $.ajax({
                    url: "/documents/tag/add?tag="+ui.tag[0].outerText.replace("%C3%97", "")+"&documentID={{dokumente.id}}",
                    context: document.body
                    }).done(function() {
                    $(this).addClass("done");
                    });
                    console.log("Add: ",ui.tag);
                }
                else
                {
                    if(typeof $(ui.tag[0])[0]["textContent"] != "undefined")
                    {
                        $.ajax({
                        url: "/documents/tag/add?tag="+$(ui.tag[0])[0]["textContent"].replace("%C3%97", "")+"&documentID={{dokumente.id}}",
                        context: document.body
                        }).done(function() {
                        $(this).addClass("done");
                        });
                        console.log("Add: ",$(ui.tag[0])[0]["textContent"]);
                    }
                    else
                    {
                        console.log("UNDEFINED");
                    }
                }
            }
        }
        );
    });
</script>

<ul id="myTags">
    <!-- Existing list items will be pre-added to the tags -->
    
</ul>
<h3>Notizen</h3>
Neue Notiz hinzufügen:<br>
<form action="/documents/notiz/add?documentID={{dokumente.id}}" class="pure-form pure-form-stacked" method="POST">
    <textarea name="text" style="width:100%;height:100px;"></textarea><br><br><input type="submit" value="Speichern">
</form>
<br><hr>Letzte Notizen:<br><br>
{% for notiz in notizen %}
    <div style="background-color:#f3f3f3;border: 1px solid #a2a2a2;padding:3px;">{{notiz.text}}</div><br>
{% endfor %}
</div>

{% endblock %}
<div style="clear:both;"></div>