{% extends "base.html" %}

{% block title %}Hochladen{% endblock %}
{% block pagetitel %}Neu{% endblock %}
{% block detaiMenu %}{% endblock %}
{% block content %}
<form method="POST" action="/documents/new"  class="pure-form pure-form-stacked" enctype="multipart/form-data">
	<fieldset>
		<label>Titel</label>
		<input name="text">
		<label>Dokument</label>
		<input name="dokument" type="file">
		<input type="submit" value="Hochladen">
	</fieldset>
	<select name="status">
		{% for stati in status %}
			<option>{{stati}}</option>
		{%endfor%}
	</select>
</form>
{% endblock %}
