{% extends "base.html" %}

{% block title %}Suche{% endblock %}
{% block pagetitel %}Suche{% endblock %}
{% block detaiMenu %}{% endblock %}
{% block content %}
<form method="POST" action="/documents/search" class="pure-form pure-form-stacked">
	<input name="suchwort" value="{{suchwort}}"><br>
	Gesucht wird in: Name, Tags, Notizen<br>
	<input type="checkbox" name="volltext" {% if volltext == 1 %}checked{%endif%}>Volltextsuche (Text, OCR)<br>
	<input type="submit" value="Suchen">
</form>
<hr>
{% for doku in dokumente %}
<div style="background-color:#FAFAFA;width:250px;float:left;margin:10px;height:360px;">
    <center>
        <a href="/documents/{{doku.id}}"><img src="{{doku.imgURL}}" width="200px" style="margin:10px"><br>{{doku}}</a>
    </center>
</div>
{% endfor %}
{% endblock %}
<div style="clear:both;"></div>