{% extends "base.html" %}

{% block title %}Übersicht{% endblock %}
{% block pagetitel %}Übersicht{% endblock %}
{% block detaiMenu %}{% endblock %}
{% block content %}


<center>
<ul class="pure-paginator">
	{% for page in pageViewer %}
		<li><a class="pure-button" href="/documents/?page={{page}}">{{page}}</a></li>
	{% endfor %}
</ul>
</center>

{% for doku in dokumente %}
<div style="background-color:#FAFAFA;width:250px;float:left;margin:10px;height:360px;">
    <center>
        <a href="/documents/{{doku.id}}"><img src="{{doku.imgURL}}" width="200px" style="margin:10px"><br>{{doku}}</a>
    </center>
</div>
{% endfor %}


<div style="clear:both;"></div>
<center>
<ul class="pure-paginator">
	{% for page in pageViewer %}
		<li><a class="pure-button" href="/documents/?page={{page}}">{{page}}</a></li>
	{% endfor %}
</ul>
</center>
{% endblock %}