{% extends "home.html" %}
{% block pagetitel %}Funktionen{% endblock %}
{% block content %}
<h3>Dokumenten Verwaltung</h3>
FileManager ist ein kleines Dokumentenverwaltungssystem, es wurde für die private Nutztung entwickelt.
<h3>Bilder vorschau</h3>
Zu den Dokumenten (bei mehrseitigen Dokumenten von der ersten Seite) wird ein Vorschaubild erstellt um bei der Suche oder Übersicht schnell das benötigte Dokument zu finden.
<h3>Volltextsuche</h3>
Über unterschiedliche Wege wird der Text aus dem Dokument in der Datenbank gespeichert, so kann über die Suche auch nach dem Innhalt von den Dokumenten gesucht werden.
<h4>OCR</h4>
Zur texterkennung wird ocrad genutzt. Die ergebnisse werden als Text in der Datenbank gespeichert. Auf diese weise können auch bei Scanns und Bildern im Innhalt des Dokumentes gesucht werden.
<h4>Text</h4>
Bei PDF Datei ist es manchmal möglich den Text des Dokumentes zu bekommen. Auch dieser wird in der Datenbank gespeichert um eine Volltextsuche zu ermöglichen.
<h3>Unterstüzte Datein</h3>
<table class="pure-table pure-table-bordered" style="width:100%">
	<thead>
        <tr>
            <th>Dateiendung</th>
            <th>Upload</th>
            <th>Volltextsuche</th>
            <th>OCR</th>
            <th>Vorschaubild</th>
        </tr>
    </thead>
    <tbody>
    	<tr>
    		<td>.pdf</td>
    		<td>Ja</td>
    		<td>(Ja)</td>
    		<td>Ja</td>
    		<td>Ja</td>
    	</tr>
    	<tr>
    		<td>*</td>
    		<td>Ja</td>
    		<td>Nein</td>
    		<td>Nein</td>
    		<td>Nein</td>
    	</tr>
    </tbody>
</table>
<h3>Taging</h3>
Um Dokumente einfach zu Finden und anderen Dokumenten zuzuordnen gibt es das Tagging System. Jedem Dokument können eine belibige Anzahl an Tags zugewiesen werden. Über die Tags kann ebenfalls nach Dokumenten gesucht werden.
<h3>Notizen</h3>
Zu den Dokumenten können ebenfalls durchsuchbare Notizen angelegt werden um einen Ablauf von Aufgaben zu Dokumentieren oder auch ein leicheteres Auffinden zu ermöglichen.

{% endblock %}
